/* General styling */
.App {
  text-align: center;
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Chatroom styling */
form {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

input {
  width: 80%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #007bff;
  padding: 10px 20px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.message {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
  clear: both;
}

.message img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.message p {
  background-color: #e4e6eb;
  padding: 10px;
  border-radius: 10px;
  margin: 0;
}

/* Styling for sent and received messages */
.sent {
  background-color: #dcf8c6;
  margin-left: auto;
  border-radius: 10px 10px 0 10px;
}

.received {
  background-color: #fff;
  margin-right: auto;
  border-radius: 10px 10px 10px 0;
}

form input,
button {
  margin-top: 15px;
}
